*.cl-ast
*.cl-tac
*.cl-type
*.cmi
*.cmo
#*.cl
*.cl-input
*.out
*.cl-asm
*.s
examples
testcases
more_tests
more_tests.sh
0.cl

my_out
my_output.txt
ref_output
ref_output.txt

asm_notes.txt
notes.txt

out

# for reference
COOL_REFERENCE
MY_OUTPUT
ignore


__pycache__
.idea
.vscode