*.cl-ast
*.cl-tac
*.cl-type
*.cmi
*.cmo
#*.cl
*.cl-input
*.out
*.cl-asm
# *.s
*.cmx
*.o
examples
testcases
more_tests
more_tests.sh
test.cl

my_out
my_output.txt
ref_output
ref_output.txt

asm_notes.txt
notes.txt

out

*.cl-lex
# for reference
COOL_REFERENCE
MY_OUTPUT
ignore


__pycache__
.idea
.vscode

venv